.Navigation a {
    font-size:  16px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    margin-top: 100px;
}

/* override bootstrap navbar colors */
.navbar,
.navbar-default {
    background-image: none !important;
    background: none !important;
    border: none !important;
}